@media screen and (max-width: 959px) {
  .header.with-menu .logo-main {
    display: none;
  }
  .header:not(.with-menu) .logo-main {
    height: 24px;
  }
  .header.with-menu .menu-btn {
    height: 24px;
  }
  .header:not(.with-menu) .menu-btn {
    display: none;
  }
  .column {
    padding: 8px 24px 24px;
    width: calc(100% - 48px);
    max-width: 600px;
  }
  .menu {
    top: 0;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
  }
  .menu[state="show"] {
    left: 0;
  }
  .menu[state="hide"] {
    left: -100%;
  }
  .menu > .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    height: 24px;
  }
  .menu > .body {
    height: calc(100% - 68px);
    overflow: auto;
    margin: 0 -18px;
    padding: 0 18px;
  }
  .logo-menu {
    height: 24px;
  }
  .close {
    height: 24px;
    height: 24px;
  }
  .dialog-box:not(.error) {
    top: 50px;
    height: calc(100% - 50px);
  }
  .dialog-box.error {
    top: 0;
    height: 100%;
  }
  .dialog {
    padding: 18px;
    width: 100%;
    height: calc(100% - 36px);
  }
}
